<!--<template>-->
    <!--<div class="mobile-nav" id="mobile-nav">-->
        <!--<a @click.prevent="openNav" class="open-nav" href="#"><i class="fas fa-bars"></i></a>-->
        <!--<div class="mob_nav" v-bind:class="{ active: isActive}">-->
            <!--<a @click.prevent="closeNav" class="close-nav" href=""><i class="fas fa-times"></i></a>-->
            <!--<ul>-->
                <!--<li>-->
                    <!--<a href="">Link 1</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="">Link 2</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="">Link 3</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="">Link 4</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="">Link 5</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</template>-->

<!--<script>-->
    <!--export default {-->
        <!--name: 'mobile-Nav',-->
        <!--methods: {-->
            <!--openNav: function () {-->
                <!--this.isActive = true;-->
            <!--}-->
            <!--,-->
            <!--closeNav: function () {-->
                <!--this.isActive = false;-->
            <!--}-->
        <!--}-->
    <!--}-->
<!--</script>-->

<!--<style>-->
    <!--.mob_nav{-->
        <!--position: absolute;-->
        <!--width: 300px;-->
        <!--top: 0;-->
        <!--right: -300px;-->
        <!--background-color: #000;-->
        <!--height: 100vh;-->

        <!-- -webkit-transition: all 0.3s;-->
        <!-- -o-transition: all 0.3s;-->
        <!-- -moz-transition: all 0.3s;-->
        <!--transition: all 0.3s;-->
    <!--}-->
    <!--.active{-->
        <!--right: 0;-->

        <!-- -webkit-transition: all 0.3s;-->
        <!-- -o-transition: all 0.3s;-->
        <!-- -moz-transition: all 0.3s;-->
        <!--transition: all 0.3s;-->
    <!--}-->
<!--</style>-->