$bg-color: #fffff;

h1,h2,h3,h4,h5,p,a,span,input,div,button, textarea{
  font-family: 'Roboto', sans-serif;
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

a{
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
  &:hover{
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
  }
  &:focus{
    text-decoration: none;
  }
  &:active{
    text-decoration: none;
  }
}

button{
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  &:hover{
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
}

#message::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #bdbdbd;
  font-weight: 100;
  font-size: 14px
}
#message::-moz-placeholder { /* Firefox 19+ */
  color: #bdbdbd;
  font-weight: 100;
  font-size: 14px
}
#message:-ms-input-placeholder { /* IE 10+ */
  color: #bdbdbd;
  font-weight: 100;
  font-size: 14px
}
#message:-moz-placeholder { /* Firefox 18- */
  color: #bdbdbd;
  font-weight: 100;
  font-size: 14px
}

body,html{
  height: 100%;
}

body {
  background: $bg-color;
}

input{
  outline: none;
  &:active{
    outline: none;
  }
  &:focus{
    outline: none;
  }
}

button{
  outline: none;
  cursor: pointer;
  &:active{
    outline: none;
  }
  &:focus{
    outline: none;
  }
}

a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

.incorect{
  border-bottom: 1px solid #da3d3d !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #bdbdbd;
  font-weight: 200;
  font-size: 14px
}
::-moz-placeholder { /* Firefox 19+ */
  color: #bdbdbd;
  font-weight: 200;
  font-size: 14px
}
::-ms-input-placeholder { /* IE 10+ */
  color: #bdbdbd;
  font-weight: 200;
  font-size: 14px
}
::-moz-placeholder { /* Firefox 18- */
  color: #bdbdbd;
  font-weight: 200;
  font-size: 14px
}


.form-input{
  width: 100%;
  position: relative;
  input{
    border: none;
    width: 100%;
    border-bottom: 1px solid #bdbdbd;
    padding: 10px 0 10px 15px;
    z-index: 99;
    &:focus{
      border-bottom: 1px solid #ff9b51;
    }
  }
  span{
    position: absolute;
    top: 12px;
    left: 7px;
    color: #bdbdbd;
    font-weight: 200;
    font-size: 14px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 0;
  }
  .focus{
    position: absolute;
    top: -11px;
    left: 7px;
    color: #bdbdbd;
    font-weight: 200;
    font-size: 12px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
}


.home-form{
  width: 365px;
  float: right;
  .form-header{
    padding: 15px 0;
    text-align: center;
    background-color: #f5f5f5;
    color: #333333;
    border-radius: 4px 4px 0 0;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 900;
    span{
      color: #ff8b38;
    }
  }
  .form-body{
    background-color: #fff;
    padding: 35px;
    .form-input{
      margin-bottom: 20px;
    }
  }
  .form-footer{
    .get_started{
      width: 100%;
      height: 60px;
      border: none;
      background-color: #ff9b51;
      color: #fff;
      border-radius: 0 0 4px 4px;
      border-top: 1px solid #fff;
      &:hover{
        background-color: #fff;
        color: #ff9b51;
        border-top: 1px solid #ff9b51;
      }
    }
  }
}

.free_treal {
  background-color: #fff;
  padding: 30px 0;
  display: none;
  .home-form {
    width: 100%;
    float: none;
    .form-body {
      border-right: 1px solid #f5f5f5;
      border-left: 1px solid #f5f5f5;
    }
  }
}


  @media (max-width: 991px) {
    .free_treal {
      display: block;
    }
  }


.section_article{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
  h2{
    margin: 0;
    padding: 0;
    font-weight: 300;
    text-transform: uppercase;
  }
  span{
    background-color: #ff8b38;
    margin: 30px 0;
    display: block;
    width: 65px;
    height: 2px;
  }
  p{
    font-weight: 300;
    margin: 0;
    padding: 0;
    color: #a9aaac;
  }
}