.contact_us{
  padding: 100px 0;
  .form-input{
    margin-bottom: 20px;
    textarea{
      border: none;
      width: 100%;
      border-bottom: 1px solid #bdbdbd;
      padding: 10px 0 10px 15px;
      min-height: 175px;
      max-height: 175px;
      outline: none;
      &:focus{
        border-bottom: 1px solid #ff9b51;
        outline: none;
      }
    }
    span{
      position: absolute;
      top: 12px;
      left: 7px;
      color: #bdbdbd;
      font-weight: 200;
      font-size: 14px;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      z-index: 0;
    }
    .focus{
      position: absolute;
      top: -11px;
      left: 7px;
      color: #bdbdbd;
      font-weight: 200;
      font-size: 12px;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
  }
  .contact-submit{
    margin-top: 20px;
    text-align: center;
    button{
      width: 145px;
      height: 45px;
      background-color: #ff9b51;
      color: #fff;
      border: 2px solid #ff9b51;
      border-radius: 2px;
      &:hover{
        background: none;
        color: #ff9b51;
      }
    }
  }
}