.download_section{
  padding: 70px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .section_article{
    margin-bottom: 30px;
    h2{
      color: #fff;
    }
    span{
      background-color: #fff;
    }
    p{
      color: #b9b9ba;
    }
  }
  .download-btn{
    text-align: center;
    button{
      background: none;
      width: 140px;
      height: 40px;
      color: #fff;
      border: 2px solid #fff;
      &:hover{
        background-color: #ff9b51;
        border: 2px solid #ff9b51;
      }
    }
  }
}