.feature_3{
  padding: 100px 0;
  background-color: #f5f5f5;
  .feature_3-text{
    .feature_3-header{
      margin-bottom: 30px;
      h2{
        font-size: 24px;
        font-weight: 500;
      }
      span{
        background: #ff8b38;
        display: block;
        height: 2px;
        width: 65px;
        margin: 30px 0;
      }
      p{
        font-size: 15px;
        padding: 0;
        margin: 0;
        color: #86878b;
      }
    }
    p{
      font-size: 15px;
      color: #86878b;
      padding: 0;
      margin: 0;
    }
  }
  .feature_3-img{
    text-align: right;
    img{
      width: 83%;
      margin-right: -55px;
      margin-top: -19px;
    }
  }
}

@media (max-width: 991px) {
  .feature_3{
    .feature_3-img{
      text-align: center;
      margin-top: 15px;
      img{
        width: 100%;
        margin-right: 0;
        margin-top: 0;
      }
    }
  }
}

@media (max-width: 425px) {
  .feature_3{
    padding: 50px 0;
    background-color: #f5f5f5;
    .feature_3-text{

      .feature_3-header{
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h2{
          font-size: 24px;
          font-weight: 500;
        }
        span{
          background: #ff8b38;
          display: block;
          height: 2px;
          width: 65px;
          margin: 30px 0;
        }
        p{
          font-size: 15px;
          padding: 0;
          margin: 0;
          color: #86878b;
          text-align: center;
        }
      }
      p{
        font-size: 15px;
        color: #86878b;
        padding: 0;
        margin: 0;
        text-align: center;
      }
    }
  }
}