.feature_2{
  padding: 100px 0;
  .feature_2-text{
    h2{
      font-size: 24px;
      font-weight: 500;
      margin-top: 13px;
    }
    span{
      background: #ff8b38;
      display: block;
      height: 2px;
      width: 65px;
      margin: 30px 0;
    }
    p{
      font-size: 15px;
      color: #86878b;
      padding: 0;
      margin: 0;
    }
    .feature_list{
      margin-top: 40px;
      .feature_item{
        margin-bottom: 25px;
        display: flex;
        flex-direction: row;
        .feature-logo{
          min-width: 40px;
          margin-right: 30px;
        }
        .feature-text{
          h3{
            font-size: 20px;
          }
        }
      }
    }
  }
  .feature_2-img{
    text-align: left;
    img{
      width: 83%;
      margin-left: -32px;
      margin-top: 24px;
    }
  }
}


@media (max-width: 991px) {
  .feature_2{
    padding: 100px 0;
    .feature_2-text{
      h2{
        font-size: 24px;
        font-weight: 500;
      }
      span{
        background: #ff8b38;
        display: block;
        height: 2px;
        width: 65px;
        margin: 30px 0;
      }
      p{
        font-size: 15px;
        color: #86878b;
        padding: 0;
        margin: 0;
      }
      .feature_list{
        margin-top: 40px;
        .feature_item{
          margin-bottom: 25px;
          display: flex;
          flex-direction: row;
          .feature-logo{
            min-width: 40px;
            margin-right: 30px;
          }
          .feature-text{
            h3{
              font-size: 20px;
            }
          }
        }
      }
    }
    .feature_2-img{
      text-align: center;
      img{
        width: 100%;
        margin-left:0;
      }
    }
  }
}


@media (max-width: 425px) {
  .feature_2{
    padding: 5px 0;
    .feature_2-text{
      .section_header{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
          font-size: 24px;
          font-weight: 500;
          text-align: center;
        }
        span{
          background: #ff8b38;
          display: block;
          height: 2px;
          width: 65px;
          margin: 30px 0;
        }
        p{
          font-size: 15px;
          color: #86878b;
          padding: 0;
          margin: 0;
          text-align: center;
        }
        .feature_list{
          margin-top: 40px;
          .feature_item{
            margin-bottom: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .feature-logo{
              min-width: 40px;
              margin-right: 0;
              margin-bottom: 10px;
            }
            .feature-text{
              h3{
                text-align: center;
                font-size: 20px;
              }
              p{
                text-align: center;
              }
            }
          }
        }
      }

    }
    .feature_2-img{
      text-align: center;
      img{
        width: 100%;
        margin-left:0;
      }
    }
  }
}