.footer{
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  .social_link{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    ul{
      li{
        display: inline-block;
        margin: 0 12px;
        a{
          display: block;
          svg{
            width: 23px;
            height: 23px;
          }
        }
      }
    }
  }
  .footer-info{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #878787;
    font-size: 15px;
  }
}


@media (max-width: 425px) {
  .footer{
    .social_link{
      ul{
        li{
          display: inline-block;
          margin: 0 6px;
          a{
            display: block;
            svg{
              width: 19px;
              height: 19px;
            }
          }
        }
      }
    }
  }
}