header{
  height: 70px;
  background-color: #000;
  width: 100%;
  position: fixed;
  z-index: 999;
  .flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    .logo{
      display: flex;
    }
    .nav{
      .desktop-nav{
        ul{
          list-style: none;
          li{
            display: inline-block;
            a{
              display: block;
              color: #c1c1c1;
              margin-left: 40px;
              &:hover{
                color: #fff;
              }
            }
          }
        }
      }
      .mobile-nav{
        display: none;
        .open-nav{
          color: #fff;
          font-size: 35px;
        }
      }
    }
  }
}


@media (max-width: 991px) {
  header{
    .flex-container{
      .nav{
        .desktop-nav{
          display: none;
        }
        .mobile-nav{
          display: block;
        }
      }
    }
  }
}