.home{
  padding-top: 70px;
  position: relative;
  .home-carousel{
    .home-owl{
      .img-bg-slider{
        height: 100vh;
        img{
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .home-form-title{
    position: absolute;
    width: 100%;
    //min-height: 100vh;
    height: auto;
    top: 0;
    z-index: 99;
    margin-top: 179px;
    .home-title{
      .big-logo{
        margin-bottom: 30px;
      }
      h1{
        color: #fff;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 39px;
        letter-spacing: 0;
      }
      span{
        width: 70px;
        height: 3px;
        background-color: #fff;
        margin: 30px 0;
        display: block;
      }
      p{
       color: #bababa;
        margin-bottom: 68px;
      }

      .download-btn{
        background: none;
        width: 140px;
        height: 40px;
        color: #fff;
        border: 2px solid #fff;
        &:hover{
          background-color: #ff9b51;
          border: 2px solid #ff9b51;
        }
      }
    }
    .home-form{
      width: 361px;
      float: right;
      margin-top: 33px;
      margin-right: 7px;
      .form-header{
        padding: 15px 0;
        text-align: center;
        background-color: #f5f5f5;
        color: #333333;
        border-radius: 4px 4px 0 0;
        font-size: 20px;
        letter-spacing: 1px;
        font-weight: 900;
        span{
          color: #ff8b38;
        }
      }
      .form-body{
        background-color: #fff;
        padding: 28px;
        .form-input{
          margin-bottom: 20px;
        }
      }
      .form-footer{
        .get_started{
          width: 100%;
          height: 60px;
          border: none;
          background-color: #ff9b51;
          color: #fff;
          border-radius: 0 0 4px 4px;
          border-top: 1px solid #fff;
          &:hover{
            background-color: #fff;
            color: #ff9b51;
            border-top: 1px solid #ff9b51;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .home{
    padding-top: 70px;
    position: relative;
    .home-carousel{
      .home-owl{
        .img-bg-slider{
          height: 100vh;
          img{
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
    .home-form-title{
      position: absolute;
      width: 100%;
      min-height: 100vh;
      height: auto;
      top: 0;
      z-index: 99;
      margin-top: 100px;
      .home-title{
        .big-logo{
          margin-bottom: 15px;
          img{
            width: 120px;
          }
        }
        h1{
          color: #fff;
          text-transform: uppercase;
          font-weight: 300;
          font-size: 22px;
          letter-spacing: 0;
        }
        span{
          width: 70px;
          height: 3px;
          background-color: #fff;
          margin: 12px 0;
          display: block;
        }
        p{
          color: #bababa;
          margin-bottom: 12px;
          font-size: 15px;
        }

        .download-btn{
          background: none;
          width: 140px;
          height: 40px;
          color: #fff;
          border: 2px solid #fff;
          &:hover{
            background-color: #ff9b51;
            border: 2px solid #ff9b51;
          }
        }
      }
      .home-form{
        display: none;
      }
    }
  }
}