.mob_nav{
  display: none;
  position: absolute;
  width: 300px;
  top: 0;
  right: -300px;
  background-color: #333333;
  height: 100vh;

  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.active{
  right: 0;

  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}


@media (max-width: 991px) {
  .mob_nav{
    display: block;
    position: fixed;
    width: 300px;
    top: 0;
    right: -300px;
    background-color: #000;
    height: 100vh;
    z-index: 9999;
    .mob_nav-header{
      height: 70px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      color: #fff;
      border-bottom: 2px solid #fff;
      a{
        font-size: 46px;
        font-weight: 100;
        display: flex;
      }
      span{
        display: flex;
        font-size: 25px;
        font-weight: 300;
      }
    }
    ul{
      li{
        a{
          width: 100%;
          display: flex;
          height: 50px;
          align-items: center;
          color: #f0f0f0;
          border-bottom: 1px solid #f0f0f0;
          padding-left: 20px;
        }
      }
    }
  }

  .active{
    right: 0
  }

}