.our_process{
  padding: 73px 0;
  .our_process-list{
    .our_process-item{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h5{
        text-align: center;
        margin: 25px 0;
        font-size: 19px;
      }
      p{
        text-align: center;
        color: #86878b;
        font-size: 15px;
      }
    }
  }
}

@media (max-width: 425px) {
  .our_process{
    padding: 50px 0;
    .our_process-list{
      .our_process-item{
       margin-bottom: 15px;
      }
    }
  }
}