.pricing{
  padding: 100px 0;
  background-color: #f5f5f5;
  .row{
    display: flex;
    align-items: flex-end;
    .pricing-item{
      .price-name{
        background-color: #333333;
        color: #fff;
        text-align: center;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        border-bottom: 1px solid #fff;
      }
      .price{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        //padding: 20px 0;
        background-color: #333333;
        border-bottom: 4px solid #ff8b38;
        .price_num{
          color: #fff;
          position: relative;
          font-size: 81px;
          font-weight: 900;
          .val{
            position: absolute;
            bottom: 15px;
            left: -22px;
            font-weight: 500;
            font-size: 34px;
          }
        }
        .price-desc{
          padding-bottom: 20px;
          font-style: italic;
          letter-spacing: 0.6px;
          color: #adadad;
          font-weight: 600;
          font-size: 15px;
        }
        .prof-info{
          background-color: #ff8b38;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 40px;
          width: 100%;
          color: #fff;
          font-weight: 500;
          font-size: 15px;
          letter-spacing: 0.4px;
        }
      }
      .prof-price{
        border: none;
        padding-bottom: 0;
      }
      .pricing-info{
        ul{
          li{
            min-height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            border-bottom: 1px solid #f5f5f5;
            color: #8f9094;
            text-transform: uppercase;
            font-size: 15px;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .pricing{
    .row{
      .pricing-item{
        margin-bottom: 15px;
      }
    }
  }
}