.social_media{
  padding: 20px 0;
  background-color: #fff;
  border-bottom: 2px solid #b7b7b7;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  .flex-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    .social_text{
      width: 35%;
      h2{
        color: #333333;
        font-size: 22px;
        margin-top: 9px;
        margin-bottom: 3px;
      }
      p{
        color: #8f9094;
        margin: 0;
        padding: 0;
        font-size: 14px;
      }
    }
    .social_link{
      width: 65%;
      text-align: right;
      ul{
        li{
          display: inline-block;
          a{
            font-size: 45px;
            font-weight: 900;
            margin-left: 31px;
            margin-right: 21px;
            svg{
              width: 45px;
              height: 45px;
            }
            &:hover svg{
              color: #ff9b51;
            }
          }
        }
      }
    }
  }
}



@media (max-width: 1200px) {
  .social_media{
    padding: 20px 0;
    background-color: #fff;
    border-bottom: 2px solid #b7b7b7;
    .flex-div{
      display: flex;
      flex-direction: row;
      align-items: center;
      .social_text{
        width: 35%;
        h2{
          color: #333333;
          font-size: 24px;
        }
        p{
          color: #8f9094;
          margin: 0;
          padding: 0;
        }
      }
      .social_link{
        ul{
          li{
            display: inline-block;
            a{
              font-size: 40px;
              font-weight: 900;
              margin-left: 30px;
              svg{
                width: 50px;
                height: 50px;
              }
              &:hover svg{
                color: #ff9b51;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .social_media{
    padding: 20px 0;
    background-color: #fff;
    border-bottom: 2px solid #b7b7b7;
    .flex-div{
      display: flex;
      flex-direction: column;
      align-items: center;
      .social_text{
        width: 100%;
        text-align: center;
        h2{
          color: #333333;
          font-size: 24px;
        }
        p{
          color: #8f9094;
          margin: 0;
          padding: 0;
        }
      }
      .social_link{
        width: 100%;
        text-align: center;
        ul{
          margin-top: 20px;
          li{
            display: inline-block;
            align-items: center;
            a{
              font-size: 20px;
              font-weight: 900;
              margin: 15px 7px;
              svg{
                width: 20px;
                height: 20px;
              }
              &:hover svg{
                color: #ff9b51;
              }
            }
          }
        }
      }
    }
  }
}