.tabs-section{
  padding: 100px 0;
  background-color: #f5f5f5;
  .tabs-flex{
    display: flex;
    align-items: center;
    .nav-tabs{
      width: 20%;
      display: inline-block;
      border: none;
      margin-top: 49px;
      .nav-item{
        .nav-link{
          width: 110px;
          height: 110px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #333333;
          color: #fff;
          border-radius: 0;
          border: none;
          margin-bottom: 2px;
        }
        .active{
          background-color: #ff8b38;
        }
        .tab-1{
          border-radius: 2px 2px 0 0;
        }
        .tab-3{
          border-radius: 0 0 2px 2px;
        }
      }
    }
    .tab-content{
      width: 75%;
      margin-left: 0;
      .tab-pane{
        .tab-text{
          h2{
            font-size: 21px;
            font-weight: 600;
            margin-bottom: 40px;
          }
          p{
            color: #9e9fa2;
            font-size: 15px;
            margin-bottom: 40px;
          }
          button{
            width: 120px;
            height: 45px;
            border-radius: 2px;
            background-color: #ff8b38;
            color: #fff;
            border: 2px solid #ff8b38;
            &:hover{
              background: none;
              color: #ff8b38;
            }
          }
        }
        .tab-img{
          img{
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .tabs-section{
    padding: 50px 0;
    background-color: #f5f5f5;
    .tabs-flex{
      display: flex;
      align-items: center;
      flex-direction: column;
      .nav-tabs{
        width: 100%;
        border: none;
        display: inline-flex;
        justify-content: center;
        margin-bottom: 20px;
        .nav-item{
          .nav-link{
            width: 110px;
            height: 110px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #333333;
            color: #fff;
            border-radius: 0;
            border: none;
            margin-bottom: 2px;
            margin: 1px;
          }
          .active{
            background-color: #ff8b38;
          }
          .tab-1{
            border-radius: 2px 2px 0 0;
          }
          .tab-3{
            border-radius: 0 0 2px 2px;
          }
        }
      }
      .tab-content{
        width: 100%;
        margin-left: 0;
        .tab-pane{
          .tab-text{
            h2{
              font-size: 21px;
              font-weight: 600;
              margin-bottom: 40px;
            }
            p{
              color: #9e9fa2;
              font-size: 15px;
              margin-bottom: 40px;
            }
            button{
              width: 120px;
              height: 45px;
              border-radius: 2px;
              background-color: #ff8b38;
              color: #fff;
              border: 2px solid #ff8b38;
              &:hover{
                background: none;
                color: #ff8b38;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .tabs-section{
    padding: 50px 0;
    background-color: #f5f5f5;
    .tabs-flex{
      display: flex;
      align-items: center;
      flex-direction: column;
      .nav-tabs{
        width: 100%;
        border: none;
        display: block;
        justify-content: center;
        margin-bottom: 20px;
        .nav-item{
          .nav-link{
            width: 100%;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #333333;
            color: #fff;
            border-radius: 0;
            border: none;
            margin-bottom: 2px;
            margin: 1px;
          }
          .active{
            background-color: #ff8b38;
          }
          .tab-1{
            border-radius: 2px 2px 0 0;
          }
          .tab-3{
            border-radius: 0 0 2px 2px;
          }
        }
      }
      .tab-content{
        width: 100%;
        margin-left: 0;
        .tab-pane{
          .tab-text{
            h2{
              font-size: 21px;
              font-weight: 600;
              margin-bottom: 40px;
            }
            p{
              color: #9e9fa2;
              font-size: 15px;
              margin-bottom: 40px;
            }
            button{
              width: 120px;
              height: 45px;
              border-radius: 2px;
              background-color: #ff8b38;
              color: #fff;
              border: 2px solid #ff8b38;
              &:hover{
                background: none;
                color: #ff8b38;
              }
            }
          }
        }
      }
    }
  }
}