.testimonials{
  padding: 100px 0;
  .testimonials_list{
    margin-top: -30px;
    .testimonials-item{
      margin-left: 22px;
      margin-top: -12px;
      .comment{
        padding: 20px;
        background-color: #f5f5f5;
        border-radius: 2px;
        position: relative;
        margin-bottom: 25px;
        width: 80%;
        svg{
          width: 30px;
          height: 40px;
          position: absolute;
          bottom: -24px;
        }
        p{
          color: #86878b;
          font-style: italic;
          padding: 0;
          margin: 0;
        }
      }
      .user{
        display: flex;
        flex-direction: row;
        align-items: center;
        .user-img{
          img{
            min-width: 100%;
          }
        }
        .user-info{
          margin-left: 15px;
          span{
            display: block;
          }
          .name{
            font-weight: 600;
            font-size: 17px;
            letter-spacing: 0.2px;
          }
          .position{
            color: #86878b;
            font-weight: 300;
            font-size: 15px;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .testimonials{
    padding: 100px 0;
    .testimonials_list{
      margin-top: 0;
      .testimonials-item{
        margin-bottom: 15px;
        margin-left: 0;
        margin-top: 0;
        .comment{
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .testimonials{
    padding: 50px 0;
    .testimonials_list{
      .testimonials-item{
        margin-bottom: 15px;
        .comment{
          width: 100%;
        }
      }
    }
  }
}